<title>Home</title>
</head>
<body>
<% if logged_in? -%>
    Welcome, 
    <%= link_to current_user.email_id , users_path %>
    <%= link_to 'Logout', session_path(current_user) , method: :delete , data: {confirm: "Are you sure?"} %>
<% end %>


<%= form_for( @search_user, :url => search_friend_user_path( @search_user ), :html => { :method => :get } ) do |f| %>
 <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



<h2>What is in your mind.</h2>
<%= form_for([@user, @user.posts.build]) do |f|%>
<p>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
</p>
<%  end  %>


<table>                         
  <tr>                          
    <th>Posts 
        <h2>COUNT <%=  @posts.count  %></h2>
    </th>
  </tr>
<% @posts.each do |post| %> 
  
  <tr>
    <td>Post By : <%= User.find_by_id(post.user_id).first_name %></td>
  </tr>
  <tr>
      <td>Post body <%= post.body %></td>
  </tr>
  <tr>
    <% if post.user_id == session[:user_id] %>
    <td>
        <%= link_to 'Destroy', user_post_path(@user , post)  , method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td>
      <%= link_to "Edit", edit_user_post_path(@user , post)  %>
    </td>
        
    <% end %>
  </tr>
  <tr>

    <td>
      <% @post_comments = @comments.where('post_id = ? ' , post.id) %>
      <p>Comments Count : <%= @post_comments.count %> </p>
      <br>
      <% @post_comments.each do |f|  %>
      <% @tmp_user = User.find_by_id(f.user_id) %>
      <%= link_to  @tmp_user.first_name, user_path(@tmp_user)%>
      <br>
      <%= f.body %>
      <br>
      <%  end  %>
    </td>
  </tr>
  <tr>
        <td>
          <%= form_for([post, post.comments.build]) do |f|%>
                <p>
                    <%= f.label 'your Comment' %>
                    <br>
                    <%= f.text_field :body %>
                    <%= f.submit :Comment %>
                </p>
            <%  end  %>
        </td>
  </tr>
<% end %>      
</table>


<h2>List Of Friends</h2>

<table>                         
  <tr>                          
    <th>First_name</th>
  </tr>
<% @friends.each do |friend| %>      
  <tr>
    <td><%= friend.first_name %></td>
  </tr>
<% end %>                       
</table>

</body>
</html>