</head>
<body>
<h2>Welcome to Facebook</h2>
<table>
<%= form_for :user , url: users_path do |f| %>

<tr>
    <td>
        <%= f.label :First_Name%>
    </td>
    <td>
        <%= f.text_field :first_name %>
    </td>
</tr>
<tr>
    <td>
        <%= f.label :Email %>
    </td>
    <td>
        <%= f.text_field :email_id %>
    </td>
</tr>
<tr>
    <td>
        <%= f.label :Password%>
    </td>
    <td>
        <%= f.password_field :password %>
    </td>
</tr>

<tr>
    <td>
        <%= f.label :Mobile_Number%>
    </td>
    <td>
        <%= f.text_field :mobile_number %>
    </td>
</tr>


<tr>
    <td>
        <%= f.label :College_Name%>
    </td>
    <td>
        <%= f.text_field :college %>
    </td>
</tr>
<tr>
    <td>
        <%= f.submit :SignUp  %>  
    </td>
</tr>
<% end %>
</table>
</body>
</html>